{% extends 'index.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block header %}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

{% endblock %}
{% block head %}
<h3>View Products </h3>
{% endblock %}
{% block content %}


<div class="card alert">
    {% for message in messages %}
    <div style='color:black' class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>

    {% endfor %}
    <div class='row'>
        {% comment %} table table-striped {% endcomment %}

        <table id="productTables" class="hover" style="width:100%;font-size: 12px;">
            <thead style="background-color: #03a9f4;">
                <font color="white">
                    <tr>
                        <th style='color:aliceblue !important'>Name</th>
                        <th style='color:aliceblue !important'>Price</th>
                        <th style='color:aliceblue !important;'>HSN</th>
                        <th style='color:aliceblue !important'>Tax(%)</th>
                        <th style='display:none'>Desc</th>
                    </tr>
                </font>
            </thead>
            <tbody>
                {% for eachproduct in allproducts.all %}
                <tr>
                    <td class='productname'>{{ eachproduct.name}}</td>
                    <td class='productprice'>{{ eachproduct.price}}</td>
                    <td class='producthsn'>{{ eachproduct.HSN}}</td>
                    <td class='producttax'>{{ eachproduct.tax}}</td>
                    <td style='display:none'>{{ eachproduct.description}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- option modal -->
<div id="productModal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Product Information</h4>
            </div>
            <div class="modal-body" style='text-align: center;overflow-y: scroll;'>
                <div class='container' style="width: 100%;">
                    <div class='row'>
                        <h4><b>Product Details for <span id='productname'></span> </b></h4>
                        <p><b>Price :</b>₹ <span id='productprice'></span></p>
                        <p><b>HSN:</b><span id='productHSN'></span></p>
                        <p><b>Description :</b><span id='productdescription'></span></p>
                        <p><b>Tax (%) :</b><span id='producttax'></span></p>
                    </div>
                    <hr>
                    <div class='row'>
                        <button type="button" class="btn btn-warning btn-lg btn-rounded " id='editid'></button>
                        <button type="button" class="btn btn-danger btn-lg btn-rounded " id='deleteid'></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal of Confirmation of delete -->
<div class="modal fade" id="confirmdeletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style='height: 40%;'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Delete Customer </h4>
            </div>
            <div class="modal-body" style='text-align: center;'>
                <!-- <embed id='previewOfPdf' width='100%' height='100%' /> -->
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick='removedealer(selectedRowData)'>Yes</button><br>
                <!-- <small>Please note that entry regarding this delete will be store in servers</small> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>





{% endblock %}
{% block scripts %}

<script src="{% static 'custom/js/product/viewproduct.js' %}"> </script>

</script>
{% endblock %}