{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}

<script src="{% static 'custom/js/product/updateproduct.js' %}" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}
<button type="button" id="sidebarCollapse" class="btn btn-info" onclick="location.href='{% url 'vieweditproducts' %}'">
    <i class="fas fa-backward"></i>
    <span>back</span>

</button>

<form method="POST">
    {% csrf_token %}
    <div class='row'>
        <!-- <input type='hidden' id='usersid' value={{ userid }}>
        <h3> Data for {{ username }} </h3> -->
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-group">
                {{ profileform.name|as_crispy_field }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ profileform.description|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-6">
            <div class="form-group">
                {{ profileform.HSN|as_crispy_field }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ profileform.price|as_crispy_field }}
            </div>
        </div>
    </div>

    <!-- {{ form|crispy }}
    {{ profileform|crispy }} -->
    <div class='form-group'>
        <button class='btn btn-outline-info' onclick='updateSelectedProduct()'> Update product </button>
    </div>
</form>

{% endblock %}