{% extends 'index.html' %}
{% load static %}

{% block header %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
    integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.0.2/base64.js"
    integrity="sha256-JvcgXx+RnoYKxoz5F+iHG1GTFTDHScw0LN8ZCIq64zo=" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/jspdf.plugin.autotable.js' %}"></script>
<script src="{% static 'custom/js/Invoice/invoice.js' %}" crossorigin="anonymous"></script>



{% endblock %}
{% block head %}
<h1>Create Invoice</h1>
{% endblock %}
{% block content %}
<div class='card alert' style="height: 79vh;overflow-y: scroll;">

    <input type='hidden' id='idofuser' value="{{ user.id }}" />
    <input type='hidden' id='currentnumber' value="{{ currentcounter }}" />

    <div class='row'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                Select Customers
                <select onchange='getAllCustomerInfo()' id='selectedcustomer'>
                    <option value=''>Select Customer</option>
                    {% for eachcustomer in allcustomers.all %}
                    <option value="{{ eachcustomer.id }}" id='thisCust-{{ eachcustomer.id }}'>{{ eachcustomer }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                Select Product
                <select onchange='priceOfProduct()' id='selectedProduct'>
                    <option value=''>Select Product</option>
                    {% for eachproduct in allproducts.all %}
                    <option value="{{ eachproduct }}">{{ eachproduct }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                <span>Invoice date : </span> <input type="text" id='datepicker_invoice' name="invoice date">
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                <span>Price of Product: </span>
                <input id='selectedProductPrice' type='number' />
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                <span> Select Quantity : </span>
                <input id='selectedProductQuanity' type='number' value='1' />
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4  ">
            <div class='form-group'>
                <span> Alloted Discount
                    <select id='typeofdiscout'>
                        <option value='rs' selected>₹</option>
                        <option value='perc'>%</option>

                    </select>: </span>
                <input id='selectedProductDiscount' type='number' placeholder='1' value='0' />
            </div>
        </div>

    </div>

    <br>
    <img src="{% static 'custom/images/logo.png' %}" style='display: none' id='logoofcompany' />
    <div class='row' style='text-align: center;'>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  ">
            <div class='form-group'>
                <button type="button" class="btn btn-success" onclick='addProduct()'>Add Product</button>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  ">
            <div class='form-group'>
                <button type="button" class="btn btn-danger" onclick='removeProduct()'>Undo</button>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  ">
            <div class='form-group'>
                <span>Payment date : </span> <input type="text" id='datepicker' name="due date">
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  ">
            <div class='form-group'>
                <span>PO Number: </span>
                <input id='PONo' type='text' />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='form-group'>
            Preview
            <table id='Previewtable' class="table table-bordered">
                <thead>
                    <tr style="background-color: aliceblue;" id='headOfProductPreview'>

                    </tr>
                </thead>
                <tbody id='bodyOfProductPreview'>
                </tbody>
            </table>
        </div>
        <div class='row'>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6  ">
                <div class='form-group'>
                    <span>Adjustment (-) : </span> <input type="number" id='adjustment' name="adjustment"
                        onkeyup='subtractAdj()' value=0>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6  ">
                <div class='form-group'>
                    <span>Final Amount: </span>
                    <input id='FinalAmount' type='text' />
                </div>
            </div>

        </div>
        <div class='row'>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class='form-group'>
                    Terms
                    <textarea rows="4" cols="70" id='termsNcondition'>
                    Medprime is giving this invoice today
                    Payment : 25% pAyment should be given in advance
                    Remaining Payment should be given in the agreed date
                    All parts have 6 months warreny
                    </textarea>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6  ">
                <div class='form-group'>
                    <span>Add Signature: </span>
                    <input id='sign' type='checkbox' checked />
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6  ">
                <div class='form-group'>
                    <button class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" onclick='createPDF()'><i
                            class="ti-plus"></i>Create Invoice</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal of Preview -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document" style='height: 80%;'>
            <div class="modal-content" style='height: 100%;'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">PDF Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 70%;" id='previewModalBody'>
                    <!-- <embed id='previewOfPdf' width='100%' height='100%' /> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn btn-primary" onclick='savePdf()'>Save</button>
                    <button type="button" class="btn btn-primary" onclick='downloadPdf()'>Download</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal of Editing row in preview table -->
    <div class="modal fade" id="EditingRowInPreviewTable" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style='height: 80%;'>
            <div class="modal-content" style='height: 100%;'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">PDF Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style='height: 30vh;text-align: center;'>
                    <button type="button" class="btn btn-primary btn-lg btn-rounded m-b-10 m-l-5"
                        id='editButton'>Edit</button>
                    <button type="button" class="btn btn-danger btn-lg btn-rounded m-b-10 m-l-5" data-dismiss="modal"
                        id='deleteButton'>Delete</button>
                    <div id='newQtydiv' style='display: none;'>
                        <label for="newQty">
                            Quantity :
                        </label>
                        <input type="number" name="newQty" id="newqt">
                        <button type="button" class="btn btn-success btn-outline btn-rounded m-b-10 m-l-5"
                            data-dismiss="modal" id='saveButton'>Save</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div style='display:none'>
        <form action="" method="post" id='invoice_to_db'>
            {% csrf_token %}
            {{ taxinfform.as_p }}
            <input type="submit" value="Submit" id='saveDataToForm'>

        </form>
    </div>

    {% endblock %}