.tableHead {
    font-size: '9px';
}

.productName {
    font-size: '8px';
    color: black;
}

.productDesc{
    font-size: '8px';
    color:#808080
}

.headers h1,
.headers div{   
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}